<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="interviewProject.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="interviewProject.testingTaskOneSearchingSeleniumTutorialTest"/>
      <class name="interviewProject.testingTaskOneSearchingSeleniumTutorial1"/>
      <class name="pageObjects.excelTask"/>
      <class name="interviewProject.testTaskFourUploadingImageTest"/>
      <class name="interviewProject.AppTest"/>
      <class name="interviewProject.testExcelTaskTest"/>
      <class name="interviewProject.testCheckBoxSecondTaskTest"/>
      <class name="interviewProject.testingtaskThreeTablesAssertingTest"/>
      <class name="interviewProject.testApiTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
